Dashboard/Dashboard/Service References/SimulationInformationService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CEP/SimulationInformation/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CEP.Common.Simulations" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CEP/SimulationInformation/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CEP.Common.Utils" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CEP/SimulationInformation/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="PingServerVoid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingServerVoidAndPingBack">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingServerBooleanAndPingBack">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingServerBooleanAndPingBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingServerBooleanAndPingBackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingServerBoolean">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingServerBooleanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingServerBooleanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeSensorData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeSensorDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeSensorDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeStatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statementName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeStatementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingDashboardVoid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveSensorData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CEP.Common.Simulations" minOccurs="0" name="sensor" nillable="true" type="q1:Sensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveOverallAverageSpeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="overallAverageSpeed" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveIndividualAverageSpeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="individualAverageSpeed" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveIndividualLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CEP.Common.Utils" minOccurs="0" name="point" nillable="true" type="q2:LocationPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveNotificationDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statementName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dict" nillable="true" type="q3:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>