Dashboard/Dashboard/Service References/SimulationInformationService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CEP.Common.Utils" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CEP.Common.Utils" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LocationPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="X" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Y" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationPoint" nillable="true" type="tns:LocationPoint" />
</xs:schema>