Event Generators/Event Generators/Service References/EventReceiverService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CEP.Common.Simulations" />
  <xs:element name="SendEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CEP.Common.Simulations" minOccurs="0" name="obj" nillable="true" type="q1:Sensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>